body{
  font-size: 1.5em;

}
.App {
  display: flex;
  flex-direction: column;
}
.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  background: rgb(178, 199, 199);
  padding: 0.5em;
}
.icon {
  width: 75px;
}
.menu-icon {
  flex: 1;
}
.menu-item {
  text-decoration: none;
  color: darkslategray;
  margin: 0 1em;
}
.card-list{
  margin: .5em 0;
}